<%= form_for(@recipe, url: @recipe.id ? recipe_path(@recipe) : stuff_recipes_path(@recipe.stuff)) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :demonstration %> (url)<br>
    <%= f.text_field :demonstration %>
  </div>

  <div class="field">
    <%= f.label :materials %><br>
    <table class="materials-table">
      <tr>
        <th>stuff_id</th>
        <th>quantity</th>
        <th>unit</th>
        <th></th>
      </tr>
      <% @recipe.recipe_materials.each_with_index do |rm, index| %>
        <%= render :partial => 'material', locals: { material: rm } %>
      <% end %>
      <%= render :partial => 'material', locals: { material: RecipeMaterial.new(quantity: 1, unit: 'item') } %>
    </table>
    <button class="add-table-item" data-url="<%=new_recipe_material_path%>">Add Material</button>
  </div>

  <div class="field">
    <%= f.label :tools %><br>
    <table class="tools-table">
      <tr>
        <th>stuff_id</th>
        <th>quantity</th>
        <th></th>
      </tr>
      <% @recipe.recipe_tools.each_with_index do |rm, index| %>
        <%= render :partial => 'tool', locals: { tool: rm } %>
      <% end %>
      <%= render :partial => 'tool', locals: { tool: RecipeTool.new(quantity: 1) } %>
    </table>
    <button class="add-table-item" data-url="<%=new_recipe_tool_path%>">Add tool</button>
  </div>

  <div class="field">
    <%= f.label :steps %><br>
    <table class="steps-table">
      <tr>
        <th>#</th>
        <th>text</th>
        <th>image</th>
        <th>demonstration</th>
        <th></th>
      </tr>
      <% @recipe.steps.each_with_index do |step, index| %>
        <%= render :partial => 'steps/edit', locals: { step: step } %>
      <% end %>
      <%= render :partial => 'steps/edit', locals: { step: Step.new(order: @recipe.steps.count + 1) } %>
    </table>
    <button class="add-table-item" data-url="<%=new_step_path%>">Add step</button>
  </div>

  <div class="field">
    <%= f.label :stuff_id %><br>
    <%= f.number_field :stuff_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
